@import './app.material-theme.scss';

@mixin app-theme-component($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);


  // Use mat-color to extract individual colors from a palette as necessary.
    app-navbar
    {
        position: relative;
        z-index: 10;
        background: mat-color($primary);
        color: mat-color($primary,default-contrast);
        text-transform: uppercase;
    }
}

@include app-theme-component($app-theme);

html{
  font-family: 'Roboto', sans-serif;
}

html, body, my-app, md-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

my-app 
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

md-sidenav
{
  width: 250px;
}

.flex-spacer{
  flex: 1 1 auto;
}
