<app-navbar class="mat-primary mat-elevation-z6"  color="primary">
</app-navbar>
<md-sidenav-container>
  <md-sidenav opened="true" mode="side" class="mat-elevation-z5">
    <div class="simulate-tall-content">Sidenav content here</div>
  </md-sidenav>
  <div class="app-content">
    <md-toolbar color="primary">
      Application Information
    </md-toolbar>
    <div class="app-info-container">
      <md-card>
        <div class="app-info">
          <h1>{{appTitle}}</h1>
          <h2>{{appDescription}}</h2>
        </div>
        <div>
          <img class="image-clickable" src="../assets/images/angular.png" (click)="simulateLoad()">
        </div>
        <div>
          <a md-raised-button href="https://github.com/johnston4hooah/webpack-angular-material" target="_blank">Project Homepage</a>
           <a md-button href="https://github.com/johnston4hooah/webpack-angular-material" target="_blank">Project Homepage</a>
        </div>
      </md-card>
    </div>
  </div>
</md-sidenav-container>
<div class='loader' *ngIf="isLoading">
  <md-spinner></md-spinner>
</div>